<header class="header">
	<nav class="navbar navbar-default">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
				<a class="navbar-brand" href="#">
					<img src="./image/logo.svg" class="logo" alt="растение помидор">
					<!-- <div class="logo"></div> -->
				</a>
			</div>

			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav navbar-right">
					<li class="">
						<a href="#"><span class="glyphicon glyphicon-leaf"></span> Рассады</a></li>
						<li><a href="#"><span class="glyphicon glyphicon-rub"></span> Купить</a></li>
						<li><a href="#"><span class="glyphicon glyphicon-phone-alt"></span> Контакты</a></li>
					</ul>

				</div>
			</div>
		</nav>

		<h1>Рассады</h1>
		<br>
		<h1>Помидор</h1>
		<div class="slider">Slider</div>
	</header>
