<header>
	<div class="header">
		<nav class="navbar navbar-default">
			<!-- <div class="container"> -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#">
						<img src="./image/logo.svg" class="logo" alt="растение помидор">
						<!-- <div class="logo"></div> -->
					</a>
				</div>

				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav navbar-right">
						<li class=""><a href="#"><span class="glyphicon glyphicon-leaf"></span> Рассады</a></li>
						<li><a href="#"><span class="glyphicon glyphicon-rub"></span> Купить</a></li>
						<li><a href="#"><span class="glyphicon glyphicon-phone-alt"></span> Контакты</a></li>
					</ul>

				</div>
			<!-- </div> -->
		</nav>
		<div class="head_title">
			<h1>Рассады</h1>
			<!-- <br> -->
			<h1>Помидор</h1>
		</div>
		<div class="slider">
			<!-- <div class="slider-fon"> </div> -->
			<div class="col-md-2">
				<div class="rassada_img"></div>
			</div>
			<div class="col-md-8 sl-text">
				<div class="sl-text-1">
					<p>Здоровая рассада помидор – гарантия обильного урожая томатов. Ошибки, которые допускают начинающие огородники на стадии посева семян и взращивания рассады, обязательно скажутся на плодоношении взрослого растения. В этом деле мелочей быть не может</p>
				</div>
				<div class="sl-text-2">
					<p>рассады в торфяных и пластиковых горшочках на посадку в теплицу или на открытом месте при благоприятном климате</p>
				</div>
				<div class="sl-text-3">
					<p>лучшие условия для томатов это тепличные условия</p>
				</div>
				<div class="sl-text-4">
					<p>лучшие условия для томатов это тепличные условия</p>
				</div>
				<div class="sl-text-5">
					<p>Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Это она журчит раз о сих!</p>
				</div>
			</div>
			<div class="col-md-2">
				<div class="rassada_img"></div>
			</div>
			<div class="col-md-12">
				<span class="sl-span-1"></span>
				<span class="sl-span-2"></span>
				<span class="sl-span-3"></span>
				<span class="sl-span-4"></span>
				<span class="sl-span-5"></span>
			</div>

		</div>

	</div>
</header>
