.logo
	// background: #FFF url(./image/logo.svg) 0 0 no-repeat
	// width: 100%
	height: 100px
	// transform: scale(0.3)

.header
	background: green url(./image/background_tomato.jpeg) no-repeat fixed center 
	background-size: 100%
	background-position: center bottom
	height: 600px
	// background-clip: 

html, body, .header 
	border: 4px solid red


html, body
	height: 100vh

