.section
	margin-top: 200px

	.preimuch
		// margin-left: 20px
		h2
			margin-bottom: 20px
			font-size: 2.5em
		ul
			list-style-type: none
			margin-left: 5% 
			margin-right: 5%
			list-style-image: url('./image/tomato.svg')
			margin-bottom: 20px
		li
			margin-bottom: 10px

	.order-form
		background: linear-gradient(left, rgba(0, 173, 76, 1), #007031)
		padding: 40px
		color: #333
		padding-bottom: 40px
		label
			font-weight: normal
			margin-bottom: 10px
		.sort
			width: 100%
			height: 200px
			background-color: white
			background-image: url(./image/tomato.svg)
			background-repeat: no-repeat
			background-size: cover
		input, .btn-tomato
			width: 100%
			text-align: center
			padding: 2%
			height: 40px
			margin: 0
		input
			margin-bottom: 120px
		.btn-tomato
			width: 100%	
