.slider
	margin-top: -50px
	position: relative
	height: 260px
	@media screen and (max-width: 320px)
		height: 330px
	&:before
		content: ''
		background: linear-gradient(to left, rgba(0, 173, 76, 1), #007031)
		transform: translateY(-50px) skewY(8deg)
		height: 250px
		width: 100%
		position: absolute

	.slider-fon
		background: linear-gradient(to left, rgba(0, 173, 76, 1), #007031);
		height: 250px
		width: 100%
		transform: translateY(-50px) skewY(8deg)
		position: absolute
		@media screen and (max-width: 320px)
			height: 320px

	.sl-text
		text-align: center
		margin-top: 3%
		p
			line-height: 1.7
	
		&:nth-of-type(n)
			display: none

		&:nth-of-type(1)
			display: block

	.rassada-img
		background-image: url("./image/rassada.svg")
		background-repeat: no-repeat
		background-position: center
		background-size: 100% 100%
		height: 150px
		width: 100%
		@media screen and (max-width: 770px)
			display: none

	$smech: 55px;		
	.rassada-img-up
		transform: translateY(-$smech)

	.rassada-img-down
		transform: translateY($smech)

	.sl-span-center
		text-align: center
		position: absolute
		bottom: 100px
		.sl-span
			width: 20px
			height: 20px
			border: 3px solid #664c3b
			border-radius: 100%
			position: absolute
			background-color: rgba(white, 0.7)
			&:nth-of-type(1)
				transform: translateX(-300%)
			&:nth-of-type(2)
				transform: translateX(-150%)
			&:nth-of-type(3)
				transform: translateX(0px)
			&:nth-of-type(4)
				transform: translateX(150%)
			&:nth-of-type(5)
				transform: translateX(300%)

		.sl-span-check
				background-color: #664c3b

.first-section
	// margin-top: 200px

	.preimuch
		// margin-left: 20px
		h2
			margin-bottom: 40px
			font-size: 2.5em
		ul
			list-style-type: none
			// margin-left: 5% 
			// margin-right: 5%
			list-style-image: url('./image/tomato.svg')
			list-style-position: inside
			margin-bottom: 20px
		li
			border: 1px solid white
			margin-bottom: 30px
			padding: 10px
			line-height: 1.7

		// ul > li


	.urogai
		margin-bottom: 20px
		margin-top: 20px
		img
			box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
			border-radius: 10%

	.order-form
		background: linear-gradient(to left,  rgba(0, 173, 76, 1), #007031)
		box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19)
		padding: 40px
		color: #333
		padding-bottom: 40px
		margin-top: 40px
		label
			font-weight: normal
			margin-bottom: 10px
		#sort
			width: 100%
			height: 200px
			// background-color: white
			button
				background-color: rgba(white, 0)
				border: 0
				position: absolute
				top: 50%
				font-size: 2em
				z-index: 2
				&:hover 
					border: 0px solid red
				
				&:nth-of-type(1)
					left: 5%
				&:nth-of-type(2)
					right: 5%
			figure
				figcaption
					text-align: center
					color: white
			// img
			// 	width: 100%
			// 	height: 100%

		input, .btn-tomato, .price
			width: 100%
			text-align: center
			padding: 2%
			height: 40px
			margin: 0 0 20px 0px
		.price
			text-align: center
			background-color: white
			padding-top: 10px
			color: #333
			margin-bottom: 40px
		// input
		// 	margin-bottom: 120px
		// 	@media (max-width: 768px)
		// 		margin-bottom: 40px
		.btn-tomato
			width: 100%	
			&:hover
				box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19)
				transition: box-shadow .15s

.shop-cart
	position: fixed
	height: 50px
	width: 100px
	color: white
	z-index: 3
	right: 40px
	top: 40px
	// border: 3px solid white
	// padding-top: 10px
	// border-radius: 50%
	text-align: center
	font-size: 2em
	cursor: pointer
	.fa-arrow-right
		margin-right: 15px
		animation: 2s arrow-right infinite ease-out
		@keyframes arrow-right
			0%
				opacity: 1
				transform: scale(1) translateX(-10px)
			100%
				opacity: 0
				transform: scale(1.5) translateX(-10px)


	&:after
		content: ''
		position: absolute
		border: 3px solid white
		border-radius: 50%
		height: 50px
		width: 50px
		top: -3px
		right: -4px
		z-index: 3
		transform: scale(1.3)
		animation: 2s shop-cart-anim infinite ease-out

@keyframes shop-cart-anim
	0%
		opacity: 1
		transform: scale(1.3)
	100%
		opacity: 0
		transform: scale(1.5)



.animate
	animation: 50ms formkey 17
	// transform: translate(-50px, -50px)
	// transition: transform 200ms
	@keyframes formkey
		0%
			transform: translate(0, 0)
		25%
			transform: translate(10px, 1px)
		75%
			transform: translate(-1px, -10px)
		100%
			transform: translate(0, 0)


.tom-container
	margin-top: 100px
	position: relative
	&:before
		content: ''
		background: linear-gradient(to left, rgba(0, 173, 76, 1), #007031)
		transform: translateY(-50px) skewY(8deg)
		height: 250px
		width: 100%
		position: absolute

	height: 260px
	@media screen and (max-width: 320px)
		height: 330px

	.tom-text
		text-align: center
		margin-top: 3%
		p
			line-height: 1.7
	
		&:nth-of-type(n)
			display: none

		&:nth-of-type(1)
			display: block

	.rassada-img
		background-image: url("./image/rassada.svg")
		background-repeat: no-repeat
		background-position: center
		background-size: 100% 100%
		height: 150px
		width: 100%
		@media screen and (max-width: 770px)
			display: none

	$smech: 55px;		
	.rassada-img-up
		transform: translateY(-$smech)

	.rassada-img-down
		transform: translateY($smech)

.shadow
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19)
.shadow-hover
	&:hover
		box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19)

.cart-size
	position: absolute
	color: #333
	bottom: 0
	padding: 2%

.img-size
	position: fixed
	top: 50%
	left: 0
	z-index: 10
	max-width: 100%
	padding: 0
	transform: translateY(-50%)
	max-height: 100%
	
.rassadi-section
	// background: green url(./image/zemlya.jpg)
	background-repeat: no-repeat
	background-position: bottom
	background-size: cover 
	h2
		text-align: center
		margin-bottom: 30px
	.cart
		margin: auto
		max-width: 210px
		margin-bottom: 20px
		h3
			font-size: 1.2em
			margin-bottom: 20px
		.cart-name
			text-align: center
			color: #333
			background-color: white
			margin: 0
			padding: 30px auto 30px
			padding-top: 20px
			padding-bottom: 20px
		.cart-body
			background: linear-gradient(rgba(0, 173, 76, 1), #007031)
			padding: 20px
			padding-top: 20%
			padding-bottom: 12%
			img
				background-color: white
				margin: auto
				box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19)
			.tom
				margin-top: 20px
				background: url(./image/tom-icon.svg) rgba(0, 173, 76, 1) no-repeat center 
				height: 60px
			.ras
				margin-top: 20px
				background: url(./image/ras-icon.svg) rgba(0, 173, 76, 1) no-repeat center 
				height: 60px


.our-number
	.container	
		min-width: 100%
	.tom-container
		&:before
			height: 450px
			@media screen and (max-width: 770px)
				height: 500px
	h2
		margin-bottom: 40px
	ul
		list-style-type: none
		padding: 0
		.progress
			background: none
			box-shadow: none
			// height: 20px
			border-radius: 0
			position: relative
			.progress-bar
				background: linear-gradient(to left, #977762, #5f4738)
				height: 5px
				border: 0
				box-shadow: none
				position: absolute
				top: 50%

.our-work
	background: url(./image/zemlya.jpg)
	background-repeat: no-repeat
	background-position: bottom
	background-size: cover 
	.row
		margin-top: 100px
		margin-bottom: 100px

	img
		margin-top: 40px		
		margin-bottom: 40px		
		// width: 70%
	p	
		max-width: 200px
		margin: auto
