<section class="first-section">
	<div class="container">
		<div class="row">
			<div class="col-sm-8">
			 <div class="preimuch">
				<h2 class="text-center">Прeимущества</h2>
				<ul>
					<li>из наших рассад Вы получите богатый урожай томатов</li>
					<li>не мучайте себя постоянными пересадками рассады в горшки, этот долгий процесс мы берем на себя</li>
					<li>на ранней стадии ростления растения требуют большого ухода </li>
					<li>нет смысла загромождать дом большим количеством рассад,проще взять готовые саженцы в начале дачного сезона</li>
					<li>вечная головная боль выбора времени посадки семян, чтобы успеть в срок, а погода нам приподносит разные ситуации</li>
					<li>просто выберите количество и оплатить и мы сами привезем Вам рассады</li>
				</ul>
				</div>
			</div>
			<div class="col-sm-4 text-center urogai">
				<img src="./image/urogai.svg" alt="урожай">
			</div>
		</div>
	</div>
			<div class="container">
				<div class="row">
					<div class="col-sm-4 col-md-6 hidden-xs">
						<img class="img-responsive" src="./image/strelka.svg" alt="стрелка">
					</div>
					<div class="col-sm-8 col-md-6">
						<form action="" class='order-form'>
							<fieldset>
								<legend>Быстрый заказ</legend>
								<div class="col-sm-6">
									<label for="vid">Выберите сорт</label>
									<div id="sort">
										<button class="" (click)="plusDivs(-1)">
											<span class="glyphicon glyphicon-menu-left"></span>
										</button>
										<button class="" (click)="plusDivs(1)">
											<span class="glyphicon glyphicon-menu-right"></span>
										</button>
										<img src="./image/tomato.svg" alt="">
									</div>
									<br>
								</div>
								<div class="col-sm-6">
									<label for="kol">Выберите количество</label>
									<input type="number" value=1 min=1 max=100>
									<button type="submit" class="btn-tomato"><span class="glyphicons glyphicons-shopping-cart"></span> В корзину <i class="fa fa-shopping-cart fa-lg" aria-hidden="true"></i></button>
								</div>
							</fieldset>
						</form>
					</div>
				</div>

	</div>

</section>

<section class="section">
	<div class="tom-container">
		<div class="col-sm-2 hidden-xs">
			<div class="rassada-img rassada-img-up"></div>
		</div>
		<div class="col-sm-8 col-xs-12 sl-tr-rel">
			<div class="text-center">
				<div class="text-right">
					<i class="fa fa-quote-right" aria-hidden="true"></i>
				</div>
				<p>В открытый грунт пересаживайте в пасмурную погоду, в теплицу – вечером.
				</p>
				<p>
					Если погода после посадки ясная, притените высаженные растения от попадания прямых солнечных лучей на 2-3 дня.
				</p>
				<div class="text-left">
					<i class="fa fa-quote-right" aria-hidden="true"></i>
				</div>
			</div>
		</div>
		<div class="col-sm-2 hidden-xs">
			<div class="rassada-img rassada-img-down"></div>
		</div>
	</div>
</section>

<section class="rassadi-section">
	<div class="container">
		<div class="row">
			<h2>Рассады Помидор</h2>
			<div class="container">
				<div class="col-sm-4 col-xs-12">
						<div class="cart shadow">
							<h3 class="cart-name">Бычье сердце</h3>
							<div class="cart-body">
								<div class="row">
									<div id='cart-size' class="col-xs-12">
										<img class="show img-responsive" src="./image/TomatGallery/bichie-cerdce.jpg" alt="">
										<img class="hide img-responsive" src="./image/TomatGallery/seedling/ras-bichie-cerdce.jpg" alt="">
										<i class="cart-size fa fa-search-plus fa-2x" aria-hidden="true"></i>
									</div>
									<div class="clearfix visible-xs-block"></div>
									<div class="col-xs-6">
										<div class="tom shadow-hover"></div>
									</div>
									<div class="col-xs-6">
										<div class="ras shadow-hover"></div>
									</div>
								</div>
							</div>
						</div>
				</div>
				<div class="col-sm-4 col-xs-12">
					<div class="cart shadow">
						<h3 class="cart-name">Бычье сердце</h3>
						<div class="cart-body">
							<div class="row">
								<div id='cart-size' class="col-xs-12">
									<img class="show img-responsive" src="./image/TomatGallery/akvarel.jpg" alt="">
									<img class="hide img-responsive" src="./image/TomatGallery/seedling/ras-akvarel.jpg" alt="">
										<i class="cart-size fa fa-search-plus fa-2x" aria-hidden="true"></i>
								</div>
								<div class="clearfix visible-xs-block"></div>
									<div class="col-xs-6">
										<div class="tom shadow-hover"></div>
									</div>
									<div class="col-xs-6">
										<div class="ras shadow-hover"></div>
								</div>
							</div>
						</div>
					</div>
				</div>	
				<div class="col-sm-4 col-xs-12">
					<div class="cart shadow">
						<h3 class="cart-name">Бычье сердце</h3>
						<div class="cart-body">
							<div class="row">
								<div id='cart-size' class="col-xs-12">
									<img class="show img-responsive" src="./image/TomatGallery/rozov-med.jpg" alt="">
									<img class="hide img-responsive" src="./image/TomatGallery/seedling/ras-rozov-med.jpg" alt="">
										<i class="cart-size fa fa-search-plus fa-2x" aria-hidden="true"></i>
								</div>
								<div class="clearfix visible-xs-block"></div>
									<div class="col-xs-6">
										<div class="tom shadow-hover"></div>
									</div>
									<div class="col-xs-6">
										<div class="ras shadow-hover"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="our-number">
	<div class="tom-container">
		<div class="col-sm-2 hidden-xs">
			<div class="rassada-img rassada-img-up"></div>
		</div>
		<div class="col-sm-8 col-xs-12">
			<div class="text-left">
				<h2>Наши цифры</h2>
				<ul>
					<li>
						<div class="container-fluid">
							<div class="row">
								<div class="col-sm-6">
									<p class="text-right">10000 посаженных растений</p>
								</div>
								<div class="col-sm-6">
									<div class="progress"><div class="progress-bar" style="width: 100%"></div>
									</div>
								</div>
							</div>
						</div>
					</li>

					<li>
						<div class="container-fluid">
							<div class="row">
								<div class="col-sm-6">
									<p class="text-right">1000 измерений для поиска оптимального решения по росту</p>
								</div>
								<div class="col-sm-6">
									<div class="progress"><div class="progress-bar" style="width: 50%"></div>
									</div>
								</div>
							</div>
						</div>
					</li>

					<li>
						<div class="container-fluid">
							<div class="row">
								<div class="col-sm-6">
									<p class="text-right">1000 проверенных сортов семян</p>
								</div>
								<div class="col-sm-6">
									<div class="progress"><div class="progress-bar" style="width: 50%"></div>
									</div>
								</div>
							</div>
						</div>
					</li>

					<li>
						<div class="container-fluid">
							<div class="row">
								<div class="col-sm-6">
									<p class="text-right">100 тонн плодоротной почвы и удобрений</p>
								</div>
								<div class="col-sm-6">
									<div class="progress"><div class="progress-bar" style="width: 25%"></div>
									</div>
								</div>
							</div>
						</div>
					</li>

				</ul>
			</div>
		</div>
		<div class="col-sm-2 hidden-xs">
			<div class="rassada-img rassada-img-down"></div>
		</div>
	</div>
</section>

<section>
	<div id="jsonholder">
		
	</div>
</section>