<section class="section">
	<div class="container">
		<div class="row">
			<div class="col-sm-8">
			 <div class="preimuch">
				<h2 class="text-center">Прeимущества</h2>
				<ul>
					<li>из наших рассад Вы получите богатый урожай томатов</li>
					<li>не мучайте себя постоянными пересадками рассады в горшки, этот долгий процесс мы берем на себя</li>
					<li>на ранней стадии ростления растения требуют большого ухода </li>
					<li>нет смысла загромождать дом большим количеством рассад,проще взять готовые саженцы в начале дачного сезона</li>
					<li>вечная головная боль выбора времени посадки семян, чтобы успеть в срок, а погода нам приподносит разные ситуации</li>
					<li>просто выберите количество и оплатить и мы сами привезем Вам рассады</li>
				</ul>
				</div>
			</div>
			<div class="col-sm-4 text-center">
				<img src="./image/urogai.svg" alt="урожай">
			</div>
			<div class="container">
				<div class="row">
					<div class="col-sm-6 text-center hidden-xs">
						<img src="./image/strelka.svg" alt="стрелка">
					</div>
					<div class="col-sm-6">
						<form action="" class='order-form'>
							<h3>Быстрый заказ</h3>
							<div class="col-sm-6">
								<label for="vid">Выберите вид</label>
								<input type="image">
							</div>
							<div class="col-sm-6">
								<label for="kol">Выберите количество</label>
								<input type="number">
								<button type="submit" class="btn btn-default">Купить</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

</section>