.section
	margin-top: 200px

	.preimuch
		// margin-left: 20px
		h2
			margin-bottom: 20px
			font-size: 2.5em
		ul
			list-style-type: none
			margin-left: 5% 
			margin-right: 5%
			list-style-image: url('./image/tomato.svg')
			margin-bottom: 20px
		li
			margin-bottom: 10px

